doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Header
    body 
        block header 
            #header 
                nav(class="flex spaceAround") 
                    a(href="/") 
                        img(src="assets/img/logo.png", alt="logo agence immo")
                    ul(class="flex spaceAround") 
                        li
                            a(href="/") Accueil
                        li
                            a(href="#") Inscription
                        li
                            a(href="#") Test
